<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Freesources | Team Ace{% block head_title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width">
{% block head_meta %}
{% endblock head_meta %}

{% load staticfiles %}
{% load bootstrap3 %}

{% block base_head_css %}
        {% bootstrap_css %}
        <link rel="icon" href="{% static 'images/freesources_icon.png' %}">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/freesources.css' %}">
        <script src="{% static 'js/map.js' %}"></script>
        <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
{% endblock base_head_css %}

    {% block head_css %}
    {% endblock head_css %}

    {% block base_head_script %}
        <script src="{% bootstrap_jquery_url %}"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
            // for expand and collapse effect to handle multiple items at the same location
            $( function() {
                $( ".accordion" ).accordion({
              collapsible: true
            });
                $( ".accordion-def" ).accordion({
              collapsible: true, active: false 
            });
            });
        </script>
        {% bootstrap_javascript %}
    {% endblock base_head_script %}

    {% block head_script %}
    {% endblock head_script %}
    
</head>
<body> 

    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper" style="background: black;">


        <form>
            <ul style="list-style-type: none; color: white;">
                <li><input type="checkbox" class="tag-checkbox" name="AED" checked=true>&nbsp;AED</li>
                <li><input type="checkbox" class="tag-checkbox" name="Food" checked=true>&nbsp;Food</li>
                <li><input type="checkbox" class="tag-checkbox" name="Water" checked=true>&nbsp;Water</li>
                <li><input type="checkbox" class="tag-checkbox" name="Vaccines" checked=true>&nbsp;Vaccines</li>
                <li><input type="checkbox" class="tag-checkbox" name="Restroom" checked=true>&nbsp;Restroom</li>
                <li><input type="checkbox" class="tag-checkbox" name="Event" checked=true>&nbsp;Event</li>
                <li><input type="checkbox" class="tag-checkbox" name="Health Check-ups" checked=true>&nbsp;Health Check-ups</li>
            </ul>
        </form>


    </nav>

<script>
    $(document).ready(function(){

        function matchesFilter(itemData, checked) {

            var tagName = itemData["tag_name"];
            for (var i = 0; i < checked.length; i++) {
                if (checked[i] == tagName) {
                    return true;
                }
            }

            return false;
        }

        function filterMarkers(checked) {
            
            // Remove all markers
            for (var i = 0; i < visibleMarkers.length; i++) {
                visibleMarkers[i].remove();
            }
            visibleMarkers = [];

            // Apply filter to markers
            var marker;
            var data;
            for (var i = 0; i < storedMarkers.length; i++) {
                marker = storedMarkers[i][0];
                data = storedMarkers[i][1];
                if (matchesFilter(data, checked)) {
                    visibleMarkers.push(marker);
                    map.addLayer(marker);
                }
            }
            
        }

        $('input[type=checkbox]').click(function(){

            // Get checked tags
            var checkboxes = document.getElementsByClassName("tag-checkbox");
            var checked = [];
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked)
                    checked.push(checkboxes[i].name);
            }

            // Filter markers by tags
            filterMarkers(checked);
        });
    });
</script>

    <header class="banner">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" rel="home" href="{% url 'index' %}" title="Freesources">
                    <img alt = "freesources" src="{% static 'images/freesources_icon.png' %}">
                </a>
            </div>
            <div id="navbar2" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                        {% if not request.user.is_authenticated %}         
                        <li><a href="{% url 'account_signup' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li><a href="{% url 'account_login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                        {% else %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" %}">Welcome: {{ request.user.username }}
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {% if request.user.is_staff %}
                                <li><a href="{% url 'admin:index' %}">Manage Site</a></li>
                                {% endif %}
                                <li><a href="{% url 'account_change_password' %}">Change Password</a></li>
                                <li><a href="{% url 'account_reset_password' %}">Reset Password</a></li>
                                <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
                            </ul>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
{% block main_content %}
    {% block head_content %}
    {% endblock head_content %} 
    
    
    {% block map_content %}
    {% endblock map_content %}

{% endblock main_content %}

<footer class="footer">
    <div class="container">
    <hr>
    <h4 class="text-center">2016 &copyright Freesources - Team Ace</h4>
        <div class="text-center center-block">
            <p class="txt-railway">This is a web application developed for an assignment in Advanced Software Engineering at <a href="www.columbia.edu">Columbia University</a>. Freesources aims to create database of free items for public use that is contributed to and maintained by users.
            <br><strong> Author: Craig Rhodes, Yixuan Guo, Gergana Alteva, Erik Dyer.</strong></p>
            <br />
                <a href="https://github.com/Team-Ace/fs_site"><i id="social-gh" class="fa fa-github-square fa-3x social"></i></a>
                <!-- <a href="https://www.facebook.com/bootsnipp"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                <a href="https://twitter.com/bootsnipp"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                <a href="https://plus.google.com/+Bootsnipp-page"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
                <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a> -->
        </div>
    <hr>
</footer>
</body>
    
</html>