{% extends 'freesources/base.html' %}
{% block head_content %}
   <!--  <h1 class="text-center">Freesources Main page</h1>
    <h3 class="text-center">- presented by <a href="https://github.com/Team-Ace">Team ACE</a> at Columbia University</h3> -->
    <div style = "height: 50px"></div>
{% endblock head_content %}

{% block map_content %}
    <div id="map" style="height: 800px"></div>

<script>

    var map = L.map('map').setView([40.807722, -73.964110], 16);

    L.tileLayer('http://{s}.tile.stamen.com/terrain/{z}/{x}/{y}.jpg', {
        maxZoom: 18,
        attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, under <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>. Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY SA</a>.'
    }).addTo(map);
    
    {% for event in events %}   
       //    add marker to the map
                var marker = new L.marker(['{{event.latitude}}','{{event.longitude}}']);
                var popup = "<h4 id=\"'{{event.event_id}}'\">Event Details</h4>";
                popup += "<table class=\"table\">";
                popup += "<tr><th>Tag</th><td>";
                popup += '{{event.tag_name}}';
                popup += "</td></tr>";
                popup += "<tr><th>Location</th><td>";
                popup += '{{event.location}}';
                popup += "</td></tr>";
                popup += "<tr><th>Description</th><td>";
                popup += '{{event.description}}';
                popup += "</td></tr>";
                popup += "<tr><th>Type</th><td>";
                popup += '{{event.expire_type}}';
                popup += "</td></tr>";
                popup += "<tr><th>Start Time</th><td>";
                popup += '{{event.start_time}}';
                popup += "</td></tr>";
                popup += "<tr><th>Expiration</th><td>";
                popup += '{{event.expiration}}';
                popup += "</td></tr>";

                popup += "<tr><th>Overall Feedback</th>";
                popup += "<td><table class=\"table table-bordered\"><tr class=\"bg-success\"><th>Confirm</th><td>";
                popup += '{{event.confirm}}';
                popup += "</td></tr><tr class=\"bg-danger\"><th>Rejection - False Event</th><td>";
                popup += '{{event.rej_false}}';
                popup += "</td></tr><tr class=\"bg-warning\"><th>Rejection - Expired</th><td>";
                popup += '{{event.rej_exp}}';
                popup += "</td></tr></table></td></tr>";
            

                if('{{event.feedback_type}}' == 'None'){

                }
                if('{{event.feedback_type}}' != 'None'){
                    popup += "<tr><th>Your Feedback</th><td><table>";
                    if('{{event.feedback_type}}' == 'confirm'){
                        popup += "<tr class=\"confirm\"><th>Confirm</th></tr>";
                    }
                    else if('{{event.feedback_type}}' == 'rej_false'){
                        popup += "<tr class=\"rej_false\"><th>Rejection - False Event</th></tr>";
                    }
                    else{
                        popup += "<tr class=\"rej_exp\"><th>Rejection - Expired</th></tr>";
                    }
                    popup += '<tr></tr></table></td></tr>\
                    <tr><th>Change Feedback</th><td>';

                }
                else{
                    popup += '<tr><th>Give Feedback</th><td>';
                }

                   //    change feedback buttons
                    var url = "{% url 'feedback' 'confirm' event.event_id %}";
                    popup += '<table class="table"><tr><td>';
                    popup += '<button onclick="feedback(this,\''+ url +'\')" class="btn btn-success btn-block" data-toggle="modal" data-target="#submitFeedback">Confirm</button></td><td></td></tr>';

                    url = "{% url 'feedback' 'rej_false' event.event_id %}";
                    popup += '<tr><td>';
                    popup += '<button onclick="feedback(this,\''+ url +'\')" class="btn btn-danger btn-block" data-toggle="modal" data-target="#submitFeedback">Reject - False Event</button></td>';

                    url = "{% url 'feedback' 'rej_exp' event.event_id %}";
                    popup += '<tr><td>';
                    popup += '<button onclick="feedback(this,\''+ url +'\')" class="btn btn-warning btn-block" data-toggle="modal" data-target="#submitFeedback">Reject - Expired</button></td></tr></table></td></tr>';



                popup += "</table>";
                marker.bindPopup(popup);
                map.addLayer(marker);        
    {% endfor %}

    map.on('click', onMapClick);

</script>


<!--     temporary adding event function, to be improved later      -->
        <div id="form" style="display: none;">
            <form class = "form-horizontal" action="" method="POST">
                {% csrf_token %}
                {{form.as_table}}
                <br>
                <button class="btn btn-primary" type="submit">Submit new event</button>
            </form>
        </div>

    <h2 class="text-center">Events table information list (for debug use only)</h2>
    <table class="table">
        <tr>
        <th>Tag</th>
        <th>Start Time</th>
        <th>Expiration</th>
        <th>Location</th>
        <th>Description</th>
        </tr>
        {% for event in events %}
        <tr>
            <td>{{ event.tag_name }}</td>
            <td>{{ event.start_time}}</td>
            <td>{{ event.expiration}}</td>
            <td>{{ event.location}}</td>
            <td>{{ event.description}}</td>
            </tr>
        {% endfor %}
    </table>
    
        <!-- Modal -->
        <div id="submitFeedback" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirm Feedback Submission</h4>
              </div>
              <div class="modal-body">
                <p>Are you sure to submit feedback?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="confirmSubmitFeedback">Confirm</button>
              </div>
            </div>

          </div>
        </div>

{% endblock map_content %}