body{
	font-family: Georgia, serif;
    padding: 30px;
    background-color: aliceblue;
}
a:hover{
    text-decoration: none;
}
#map {
  padding: 20px;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 5px;
  width: auto;
}

tr.rej_exp{
	color:orange;
}
tr.rej_false{
	color: red;
}
tr.confirm{
	color: green;
}

#fd_before{
	display: none;
}
#fd_after{
	display: none;
}