{% extends 'account/base.html' %}

{% load i18n %}
{% load bootstrap3 %}


{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block title %}{% trans "Change Password" %}{% endblock title %}

{% block main_content %}
    {% block head_content %}
    {% endblock head_content %} 
    
    
	{% block user_content %}
	
	<section id="login">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
				<div class="form-wrap">
					<h1>{% trans "Change Password" %}</h1>
						<form id= "login-form" method="POST" action="{% url 'account_change_password' %}">
						  {% csrf_token %}
						  {% bootstrap_form form %}
						  {% if redirect_field_value %}
						  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
						  {% endif %}			  
						  <button id = "btn-login" class="primaryAction btn btn-custom btn-block btn-lg" type="submit">{% trans "Change Password" %}</button>
						</form>
				</div>
				</div>
			</div>
		</div>
	</section>
	{% endblock user_content %}

{% endblock main_content %}

