{% extends 'account/base.html' %}

{% load i18n %}
{% load bootstrap3 %}


{% block head_title %}{% trans "Reset Password" %}{% endblock %}
{% block title %}{% trans "Reset Password" %}{% endblock title %}

{% block main_content %}
    {% block head_content %}
    {% endblock head_content %} 
    
    
	{% block user_content %}
	
	<section id="login">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
				<div class="form-wrap">
					<h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
				    {% if token_fail %}
			        {% url 'account_reset_password' as passwd_reset_url %}
			        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ account_reset_password_from_key }}">new password reset</a>.{% endblocktrans %}</p>
			    {% else %}
			    {% if form %}

					<form id= "login-form" method="POST" action=".">
						  {% csrf_token %}
						  {% bootstrap_form form %}
						  {% if redirect_field_value %}
						  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
						  {% endif %}			  
						  <button id = "btn-login" class="primaryAction btn btn-custom btn-block btn-lg" type="submit">{% trans "Change Password" %}</button>
					</form>
					{% else %}
			            <p>{% trans 'Your password is now changed.' %}</p>
			        {% endif %}
            	{% endif %}
				</div>
				</div>
			</div>
		</div>
	</section>
	{% endblock user_content %}

{% endblock main_content %}

